* {
    font-family: Courier New;
}

html {
    background-color: #040D12;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.main-div, .display, .buttons {
    border: 2px solid black;
    border-radius: 8px;
}

.main-div {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
    background-color: #183D3D;
}

.display {
    padding: 8px;
    text-align: right;
    font-size: 32px;
    display: flex;
    flex-direction: column;
    background-color: #93B1A6;
}

.buttons {
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: #183D3D;
}

.first-row, .second-row, .third-row, .fourth-row {
    display: flex;
    gap: 8px;
}

button {
    border-radius: 8px;
    border: 2px solid black;
    width: 48px;
    height: 48px;
    font-size: 24px;
    padding: 8px;
}

.number {
    background-color: #5C8374;
}

.operator-add, .operator-subtract, .operator-multiply, .operator-divide {
    background-color: #93B1A6;
}

.equal, .clear {
    background-color: #008170;
}